{{productos|json}}
<!-- <h2>Caja</h2>
<table class="table">
  <thead>
    <tr>
      <th>Fecha</th>
      <th>Ingresos</th>
      <th>Papel</th>
      <th>Compras</th>
      <th>Total</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of registros">
      <td>{{item.fecha| date:'dd/MM/yyyy'}}</td>
      <td>{{ item.totalmonedas}}</td>
      <td>{{item.papel}}</td>
      <td>{{item.compra}}</td>
      <td><button (click)="onClickDelete(item)">Borrar</button></td>
      <td><button (click)="onClickUpdate(item)">Update</button></td>
    </tr>
  </tbody>
</table>
<h2>Barberia</h2>
<table class="table">
  <thead>
    <tr>
      <th>Fecha</th>
      <th>Ingresos</th>
      <th>Prestamo</th>
      <th>Consumo</th>
      <th>Total</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of registros">
      <td>{{item.fecha| date:'dd/MM/yyyy'}}</td>
      <td>{{ item.bari}}</td>
      <td>{{item.barpre}}</td>
      <td>{{item.bare}}</td>
      <td>{{ (item.bari?item.bari:0) - (item.barpre?item.barpre:0) | number}}</td>
    </tr>
  </tbody>

  <tfoot>
    <tr>
      <th></th>
      <th>{{ingreso}}</th>
      <th>{{prestamo}}</th>
      <th></th>
      <th>{{ingreso-prestamo}}</th>
    </tr>
  </tfoot>
</table>

<table class="table">
  <thead>
   
    <tr>
      <th>Fecha</th>
      <th>Debe</th>
      <th>Cobrado</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of registros">
      <td>{{item.fecha| date:'dd/MM/yyyy'}}</td>
      <td>{{ item.bare}}</td>
      <td>{{item.barco? item.barco:0}}</td>
    </tr>
  </tbody>
  <tfoot>
    <th></th>
    <th>{{debe | number}}</th>
    <th>{{cobro | number }}</th>

    <tr>
      <th colspan="3" class="text-center bg-success text-white">{{debe- cobro | number}}</th>
    </tr>
  </tfoot>
</table> -->