<div class="w-1/2">
    <h1 class="text-center ">Lista de Factura</h1>
    <div class="p-2 m-2  shadow-xl rounded-2xl bg-yellow-100 flex-auto ">
        <div class="grid  grid-cols-3  p-3 rounded-lg mb-3 bg-yellow-200 ">
            <div class=" truncate text-center text-xs  font-bold ">Cliente </div>
            <div class=" truncate text-center text-xs  font-bold ">Tipo de venta </div>
            <div class=" truncate text-center text-xs  font-bold ">Total Comprado </div>
        </div>

        <div class="grid  grid-cols-3  my-2 rounded-lg bg-yellow-50 items-center" *ngFor="let factura of facturas; let i = index">

            <!-- <input type="radio" [id]="factura.nombre" [value]="factura.id" [name]="factura.nombre"
                [(ngModel)]="facturaselect" (click)="seleccionar(factura.id?factura.id:'')" class="hidden peer"> -->
            <!-- <label [for]="factura.nombre" class="    w-11/12 cursor-pointer backdrop-blur-lg flex  items-center bg-yellow-50 shadow-inner  overflow-x-hidden justify-between
             gap-1 rounded-lg p-2 m-2 hover:bg-yellow-200 border "
                [ngClass]="{ 'cursor-pointer dark:hover:text-gray-300 dark:border-gray-700 dark:peer-checked:text-blue-500 peer-checked:border-blue-600 peer-checked:text-blue-600 hover:text-gray-600 hover:bg-gray-100 dark:text-gray-400 dark:bg-gray-800 dark:hover:bg-gray-700 ':  !editar} "> -->

            <!-- <img class="w-5" [src]="factura" alt=""> -->

            <div class=" truncate text-center text-xs  font-medium flex items-center space-x-2 ">

                 <img class=" w-14 h-1w-14 object-cover rounded-full"
                    [src]="factura.fotocliente!='Anonimo'?factura.fotocliente:'../assets/imagen/predefinida.png'" alt="">
                
            <div class=" truncate text-center text-xs  font-medium "> {{factura.cliente}} </div>
                
                </div>
            <div class=" truncate text-center text-xs  font-medium "> {{factura.tipoventa}} </div>
            <div class=" truncate text-center text-xs  font-medium ">{{factura.totalvendido}} </div>
            <!-- <p *ngIf="editar"
                    class=" flex h-2 w-2 items-center justify-center rounded-full bg-red-500 p-3 text-xs text-white"
                    (click)="onClickDelete(factura)">-</p> -->

            <!-- </label> -->
        </div>
    </div>
</div>

<pre>
    {{facturas|json}}
</pre>

{{facturas|json}}