<div class="flex flex-wrap justify-center">
    <div class="w-full md:w-1/2">
        <h1 class="text-center ">Lista de Factura</h1>
        <div class="p-2 m-2  shadow-xl rounded-2xl bg-yellow-100 flex-auto ">
            <div class="grid  grid-cols-4  p-3 rounded-lg mb-3 bg-yellow-200 ">
                <div class=" truncate text-center text-xs  font-bold ">Cliente </div>
                <div class=" truncate text-center text-xs  font-bold ">Fecha de Compra </div>
                <div class=" truncate text-center text-xs  font-bold ">Tipo de venta </div>
                <div class=" truncate text-center text-xs  font-bold ">Total Comprado </div>
            </div>

            <div class="grid  grid-cols-4  my-2 rounded-lg bg-yellow-50 items-center"
                *ngFor="let factura of facturas; let i = index" (click)="onEnviarFactura(factura)">



                <div class=" truncate text-center text-xs  font-medium flex items-center space-x-2 ">

                    <img class=" w-14 h-1w-14 object-cover rounded-full"
                        [src]="factura.fotocliente!='Anonimo'?factura.fotocliente:'../assets/imagen/predefinida.png'"
                        alt="">

                    <div class=" truncate text-center text-xs  font-medium "> {{factura.cliente}} </div>

                </div>
                <div class=" truncate text-center text-xs  font-medium "> {{factura.fechaCompra | date}} </div>
                <div class=" truncate text-center text-xs  font-medium "> {{factura.tipoventa}} </div>
                <div class=" truncate text-center text-xs  font-medium ">{{factura.totalvendido}} </div>
                <!-- <p *ngIf="editar"
                    class=" flex h-2 w-2 items-center justify-center rounded-full bg-red-500 p-3 text-xs text-white"
                    (click)="onClickDelete(factura)">-</p> -->

            </div>
        </div>
    </div>


    <!-- detalle factura -->
    <div *ngIf="facturaselect"class="w-full md:w-1/2" >
        <app-detallefactura [factura] ="facturaselect"></app-detallefactura>

    </div>
    <!-- 
<pre>
    {{facturas|json}}
</pre>

{{facturas|json}} -->