.bileneal {
    background: linear-gradient(#c5bcbc, rgb(231, 223, 223));
}

.imagenlineal {
    background-image: linear-gradient(transparent 50%,rgba(245, 222, 222, 0.027) 50%);
    background-size: 3em 3em;
}