<!-- <div  class="w-screen h-screen flex justify-center items-center">
    <div class="container mx-auto max-w-sm rounded-lg overflow-hidden shadow-lg my-2 bg-white">
        <div class="relative z-10" style="clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 5vw));">
            <img class="w-full" [src]="'../assets/imagen/predefinida.png'">
            alt="Profile image" />
            <div class="text-center absolute w-full" style="bottom: 4rem">
                <p class="text-white tracking-wide uppercase text-lg font-bold">John Doe</p>
                <p class="text-gray-400 text-sm">@johndoe</p>
            </div>
        </div>
        <div class="relative flex justify-between items-center flex-row px-6 z-50 -mt-10">
            <p class="flex items-center text-gray-400"><span
                    class="inline-block w-3 h-3 bg-green-500 rounded-full mr-2"></span>online</p>
            <button
                class="p-4 bg-red-600 rounded-full hover:bg-red-500 focus:bg-red-700 transition ease-in duration-200 focus:outline-none">
                <svg viewBox="0 0 20 20" enable-background="new 0 0 20 20" class="w-6 h-6">
                    <path fill="#FFFFFF" d="M16,10c0,0.553-0.048,1-0.601,1H11v4.399C11,15.951,10.553,16,10,16c-0.553,0-1-0.049-1-0.601V11H4.601
                                    C4.049,11,4,10.553,4,10c0-0.553,0.049-1,0.601-1H9V4.601C9,4.048,9.447,4,10,4c0.553,0,1,0.048,1,0.601V9h4.399
                                    C15.952,9,16,9.447,16,10z" />
                </svg>
            </button>
        </div>
        <div class="pt-6 pb-8 text-gray-600 text-center">
            <p>Fullstack Developer </p>
            <p class="text-sm">Coding from Planet Earth</p>
        </div>

        <div class="pb-10 uppercase text-center tracking-wide flex justify-around">
            <div class="posts">
                <p class="text-gray-400 text-sm">Posts</p>
                <p class="text-lg font-semibold text-blue-300">76</p>
            </div>
            <div class="followers">
                <p class="text-gray-400 text-sm">Followers</p>
                <p class="text-lg font-semibold text-blue-300">964</p>
            </div>
            <div class="following">
                <p class="text-gray-400 text-sm">Following</p>
                <p class="text-lg font-semibold text-blue-300">34</p>
            </div>
        </div>
    </div>
</div>
 -->



<h1 class="text-center ">Lista de clientes</h1>
<div class="p-2 m-2  shadow-xl rounded-2xl bg-yellow-100 flex-auto ">

    <div
        class="mb-6 mt-2 mx-auto max-w-3xl transform divide-y divide-gray-100 overflow-hidden rounded-xl bg-white shadow-2xl ring-1 ring-black ring-opacity-5 transition-all">
        <div class="relative">
            <svg class="pointer-events-none absolute left-4 top-3.5 h-5 w-5 text-gray-400" viewBox="0 0 20 20"
                fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd"
                    d="M9 3.5a5.5 5.5 0 100 11 5.5 5.5 0 000-11zM2 9a7 7 0 1112.452 4.391l3.328 3.329a.75.75 0 11-1.06 1.06l-3.329-3.328A7 7 0 012 9z"
                    clip-rule="evenodd" />
            </svg>
            <input type="text" (input)="filtrarcliente()" [(ngModel)]="palabra"
                class="h-12 w-full border-0 bg-transparent pl-11 pr-4 text-gray-800 placeholder:text-gray-400 focus:ring-0 sm:text-sm"
                placeholder="Search..." role="combobox" aria-expanded="false" aria-controls="options">
        </div>
    </div>

    <!-- <input type="radio" [id]="cliente.nombre" [value]="cliente.id" [name]="cliente.nombre" [(ngModel)]="clienteselect"
        (click)="seleccionar(cliente.id?cliente.id:'')" class="hidden peer">
    <label [for]="cliente.nombre" class="    w-11/12 cursor-pointer backdrop-blur-lg flex  items-center bg-yellow-50 shadow-inner  overflow-x-hidden justify-between
 gap-1 rounded-lg p-2 m-2 hover:bg-yellow-200 border "
        [ngClass]="{ 'cursor-pointer dark:hover:text-yellow-300 dark:border-yellow-700 dark:peer-checked:text-blue-500 peer-checked:border-blue-600 peer-checked:text-blue-600 hover:text-yellow-600 hover:bg-yellow-100 dark:text-yellow-600 dark: dark:hover:bg-yellow-700 ':  !editar} ">

        <img class="w-20" [src]="cliente.foto?cliente.foto:'../assets/imagen/predefinida.png'" alt="">

        <p class=" truncate text-center text-xs  font-medium "> {{cliente.nombre}} </p>
        <p *ngIf="editar"
            class=" flex h-2 w-2 items-center justify-center rounded-full bg-red-500 p-3 text-xs text-white"
            (click)="onClickDelete(cliente)">-</p>

    </label> -->


    <table class="table text-yellow-800 border-separate space-y-6 text-sm border-spacing-y-2 ">

        <tbody>
            <tr class="bg-yellow-50  " *ngFor="let cliente of clientefiltrado">
                <input type="radio" *ngIf="!editar" [id]="cliente.nombre" [value]="cliente.id" [name]="cliente.nombre"
                    [(ngModel)]="clienteselect" (click)="seleccionar(cliente)" class="hidden peer">
                <label [for]="cliente.nombre" class="    w-full h-full cursor-pointer backdrop-blur-lg flex  items-center bg-yellow-50 shadow-inner  overflow-x-hidden justify-between
                         hover:bg-yellow-200 border "
                    [ngClass]="{ 'cursor-pointer dark:hover:text-yellow-300 dark:border-yellow-700 dark:peer-checked:text-blue-500 peer-checked:border-blue-600 peer-checked:text-blue-600 hover:text-yellow-600 hover:bg-yellow-100 dark:text-yellow-600 dark: dark:hover:bg-yellow-700 ':  !editar} ">
                    <td class="px-6 py-2">
                        <div class="flex align-items-center">

                            <img class="rounded-full h-20 w-20  object-cover"
                                [src]="cliente.foto?cliente.foto:'../assets/imagen/predefinida.png'">
                            <div class="ml-3">
                                <div class="">{{cliente.nombre}}</div>
                                <div class="text-yellow-700">{{cliente.email}}</div>
                                <div class="text-yellow-700">{{cliente.celular}}</div>
                            </div>
                        </div>
                    </td>


                    <td class=" flex  py-6 px-3" *ngIf="editar">
                        <a (click)="ver=true" class="text-yellow-600 hover:text-green-600 mr-2">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M2.036 12.322a1.012 1.012 0 010-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178z" />
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                            </svg>


                        </a>
                        <a (click)="seleccionar(cliente)" class="text-yellow-600 hover:text-blue-600  mx-2">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L6.832 19.82a4.5 4.5 0 01-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 011.13-1.897L16.863 4.487zm0 0L19.5 7.125" />
                            </svg>

                        </a>
                        <a (click)="onClickDelete(cliente)" class="text-yellow-600 hover:text-red-600  ml-2">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
                            </svg>

                        </a>
                    </td>
                </label>
            </tr>

        </tbody>
    </table>


</div>



<!-- component -->