<div class="col ">
    <form [formGroup]="formulario" class="row">
        <div class="col-12 col-md-6 p-5 bileneal">
            <h1 class="text-white">Cantidad de monedas</h1>
            <div class="row">
                <table class="table table-striped">

                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">Cantidad</th>
                            <th scope="col">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1¢</th>
                            <td> <input (keypress)="validateFormat($event)" formControlName="centimo1" type=" number"
                                    class="form-control bg-yellow-300">
                            </td>
                            <td>{{centimo1}}€</td>
                        </tr>

                        <tr>
                            <th scope="row">2¢</th>
                            <td> <input (keypress)="validateFormat($event)" formControlName="centimo2" type=" number"
                                    class="form-control bg-yellow-300"></td>
                            <td>{{centimo2}}€</td>
                        </tr>

                        <tr>
                            <th scope="row">1¢</th>
                            <td> <input (keypress)="validateFormat($event)" formControlName="centimo5" type=" number"
                                    class="form-control bg-yellow-300"></td>
                            <td>{{centimo5 }}€</td>
                        </tr>

                        <tr>
                            <th scope="row">10¢</th>
                            <td> <input (keypress)="validateFormat($event)" formControlName="centimo10" type=" number"
                                    class="form-control"></td>
                            <td>{{centimo10}}€</td>
                        </tr>
                        <tr>
                            <th scope="row">20¢</th>
                            <td> <input (keypress)="validateFormat($event)" formControlName="centimo20" type=" number"
                                    class="form-control"></td>
                            <td>{{centimo20}}€</td>
                        </tr>
                        <tr>
                            <th scope="row">50¢</th>
                            <td><input (keypress)="validateFormat($event)" formControlName="centimo50" type=" number"
                                    class="form-control"></td>
                            <td>{{centimo50}}€</td>
                        </tr>

                        <tr>
                            <th scope="row">1€</th>
                            <td><input (keypress)="validateFormat($event)" formControlName="euro1" type=" number"
                                    class="form-control"></td>
                            <td>{{euro1}}€</td>
                        </tr>
                        <tr>
                            <th scope="row">2€</th>
                            <td><input (keypress)="validateFormat($event)" formControlName="euro2" type=" number"
                                    class="form-control"></td>
                            <td>{{euro2}}€</td>
                        </tr>
                        <tr>
                            <th scope="row">5€ </th>
                            <td><input (keypress)="validateFormat($event)" formControlName="euro5" type=" number"
                                    class="form-control"></td>
                            <td>{{euro5}}€</td>
                        </tr>
                        <tr>
                            <th scope="row">10€</th>
                            <td><input (keypress)="validateFormat($event)" formControlName="euro10" type=" number"
                                    class="form-control"></td>
                            <td>{{euro10}}€</td>
                        </tr>
                        <tr>
                            <th scope="row">20€</th>
                            <td><input (keypress)="validateFormat($event)" formControlName="euro20" type=" number"
                                    class="form-control"></td>
                            <td>{{euro20}}€</td>
                        </tr>
                        <tr>
                            <th scope="row">50€</th>
                            <td><input (keypress)="validateFormat($event)" formControlName="euro50" type=" number"
                                    class="form-control"></td>
                            <td>{{euro50 }}€</td>
                        </tr>
                        <tr>
                            <th scope="row">100€</th>
                            <td><input (keypress)="validateFormat($event)" formControlName="euro100" type=" number"
                                    class="form-control"></td>
                            <td>{{euro100}}€</td>
                        </tr>
                        <tr>
                            <th scope="row">Papel</th>
                            <td><input (keypress)="validateFormat($event)" formControlName="papel" type=" number"
                                    class="form-control"></td>
                            <td>{{papel}}€</td>
                        </tr>
                        <tr>
                            <th scope="row">Papel</th>
                            <td><input (keypress)="validateFormat($event)" formControlName="papel" type=" number"
                                    class="form-control"></td>
                            <td> {{cantidadmonedas | number}}€</td>
                        </tr>



                    </tbody>
                </table>

            </div>
            <!-- <div class="row">
                <div class=" form-floating form-control-sm col-md-3">
                    <input (keypress)="validateFormat($event)" formControlName="centimo1" type=" number"
                        class="form-control bg-yellow-300" id="001">
                    <label for="01">1 Cent</label>
                </div>
                <div class=" form-floating form-control-sm sm-w-50 col-md-3 ">
                    <input (keypress)="validateFormat($event)" formControlName="centimo2" type=" number"
                        class="form-control bg-yellow-300" id="002">
                    <label for="01">2 Cent</label>
                </div>
                <div class=" form-floating form-control-sm col-md-3">
                    <input (keypress)="validateFormat($event)" formControlName="centimo5" type=" number"
                        class="form-control bg-yellow-300" id="005" placeholder="5">
                    <label for="01">5 Cent</label>
                </div>
                <div class=" form-floating form-control-sm col-md-3">
                    <input (keypress)="validateFormat($event)" formControlName="centimo10" type=" number"
                        class="form-control bg-yellow-300" id="01" placeholder="10">
                    <label for="01">10 Cent</label>
                </div>
                <div class=" form-floating form-control-sm col-md-3">
                    <input (keypress)="validateFormat($event)" formControlName="centimo20" type="number"
                        class="form-control bg-yellow-300" id="02" placeholder="E">
                    <label for="02">20 Cent</label>
                </div>
                <div class=" form-floating form-control-sm col-md-3">
                    <input (keypress)="validateFormat($event)" formControlName="centimo50" type="number"
                        class="form-control bg-yellow-300" id="50" placeholder="E">
                    <label for="01">50 Cent</label>
                </div>
                <div class=" form-floating form-control-sm col-md-3">
                    <input (keypress)="validateFormat($event)" formControlName="euro1" type="number"
                        class="form-control" id="1" placeholder="E">
                    <label for="02">1 E</label>
                </div>
                <div class=" form-floating form-control-sm col-md-3">
                    <input (keypress)="validateFormat($event)" formControlName="euro2" type="number"
                        class="form-control" id="2" placeholder="E">
                    <label for="01">2 E</label>
                </div>
                <div class=" form-floating form-control-sm col-md-3">
                    <input (keypress)="validateFormat($event)" formControlName="euro5" type="number"
                        class="form-control" id="5" placeholder="E">
                    <label for="02">5 E</label>
                </div>
                <div class=" form-floating form-control-sm col-md-3">
                    <input (keypress)="validateFormat($event)" formControlName="euro10" type="number"
                        class="form-control" id="10" placeholder="E">
                    <label for="01">10 E</label>
                </div>
                <div class=" form-floating form-control-sm col-md-3">
                    <input (keypress)="validateFormat($event)" formControlName="euro20" type="number"
                        class="form-control" id="10" placeholder="E">
                    <label for="01">20 E</label>
                </div>
                <div class=" form-floating form-control-sm col-md-3">
                    <input (keypress)="validateFormat($event)" formControlName="euro50" type="number"
                        class="form-control" id="50" placeholder="E">
                    <label for="02">50 E</label>
                </div>
                <div class=" form-floating form-control-sm col-md-3">
                    <input (keypress)="validateFormat($event)" formControlName="euro100" type="number"
                        class="form-control" id="100" placeholder="E">
                    <label for="02">100 E</label>
                </div>
                <div class=" form-floating form-control-sm col-md-3">
                    <input (keypress)="validateFormat($event)" formControlName="papel" type=" number"
                        class="form-control" id="005" placeholder="Papel">
                    <label for="01">En papel</label>
                </div>
                <h2 class="text-white">Total en euros</h2>
                <div class=" form-floating form-control-sm col">

                    <input (keypress)="validateFormat($event)" type="number" class="form-control" id="100"
                        placeholder="euro" disabled readonly>
                    <label for="02">{{cantidadmonedas | number}}</label>
                </div>
            </div> -->
        </div>

        <div class="col col-md-6 p-5  bileneal">
            <div class="row">
                <!-- <table class="table table-striped">

                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">Cantidad</th>
                            <th scope="col">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngIf="centimo1">
                            <th scope="row">1¢</th>
                            <td>{{centimo1}}</td>
                            <td>{{centimo1 /100}} €</td>
                        </tr>

                        <tr *ngIf="centimo2">
                            <th scope="row">2¢</th>
                            <td>{{centimo2}}</td>
                            <td>{{centimo2 /50}} €</td>
                        </tr>

                        <tr *ngIf="centimo5">
                            <th scope="row">1¢</th>
                            <td>{{centimo5}}</td>
                            <td>{{centimo5 /20}} €</td>
                        </tr>

                        <tr *ngIf="centimo10">
                            <th scope="row">10¢</th>
                            <td>{{centimo10}}</td>
                            <td>{{centimo10 /10}} €</td>
                        </tr>
                        <tr *ngIf="centimo20">
                            <th scope="row">20¢</th>
                            <td>{{centimo20}}</td>
                            <td>{{centimo20 /5}} €</td>
                        </tr>
                        <tr *ngIf="centimo50">
                            <th scope="row">50¢</th>
                            <td>{{centimo50}}</td>
                            <td>{{centimo50 /2}} €</td>
                        </tr>

                        <tr *ngIf="euro1">
                            <th scope="row">1€</th>
                            <td>{{euro1}}</td>
                            <td>{{euro1 }} €</td>
                        </tr>
                        <tr *ngIf="euro2">
                            <th scope="row">2€</th>
                            <td>{{euro2}}</td>
                            <td>{{euro2 *2}} €</td>
                        </tr>
                        <tr *ngIf="euro5">
                            <th scope="row">5€ </th>
                            <td>{{euro5}}</td>
                            <td>{{euro5 *5}} €</td>
                        </tr>
                        <tr *ngIf="euro10">
                            <th scope="row">10€</th>
                            <td>{{euro10}}</td>
                            <td>{{euro10 *10}} €</td>
                        </tr>
                        <tr *ngIf="euro20">
                            <th scope="row">20€</th>
                            <td>{{euro20}}</td>
                            <td>{{euro20 *20}} €</td>
                        </tr>
                        <tr *ngIf="euro50">
                            <th scope="row">50€</th>
                            <td>{{euro50}}</td>
                            <td>{{euro50 *50}} €</td>
                        </tr>
                        <tr *ngIf="euro100">
                            <th scope="row">100€</th>
                            <td>{{euro100}}</td>
                            <td>{{euro100*100}} €</td>
                        </tr>
                        <tr *ngIf="papel">
                            <th scope="row">Papel</th>
                            <td>{{papel}}</td>
                            <td>{{papel }} €</td>
                        </tr>



                    </tbody>
                </table> -->
                <!-- <div class=" form-floating form-control-sm col-md-3">
                    <input  (keypress)="validateFormat($event)" type=" number" class="form-control" id="001" placeholder="10">
                    <label for="01">Barberia</label>
                </div>
                <div class=" form-floating form-control-sm col-md-3">
                    <input  (keypress)="validateFormat($event)" type=" number" class="form-control" id="002" placeholder="10">
                    <label for="01">Consumo Barb</label>
                </div>
                <div class=" form-floating form-control-sm col-md-3">
                    <input  (keypress)="validateFormat($event)" type=" number" class="form-control" id="002" placeholder="10">
                    <label for="01">Adelanto Barb</label>
                </div>
                <div class=" form-floating form-control-sm col-md-3">
                    <input  (keypress)="validateFormat($event)" type=" number" class="form-control" id="005" placeholder="10" disabled readonly>
                    <label for="01">Total Barberia</label>
                </div>
                <div class=" form-floating form-control-sm col-md-8">
                    <input  (keypress)="validateFormat($event)" type="number" class="form-control" id="02" placeholder="euro">
                    <label for="02">Compañia</label>
                </div>
                <div class=" form-floating form-control-sm col-md-4">
                    <input  (keypress)="validateFormat($event)" type="number" class="form-control" id="02" placeholder="euro">
                    <label for="02">Cantidad</label>
                </div>
                <div class=" form-floating form-control-sm col-md-5">
                    <input  (keypress)="validateFormat($event)" type="number" class="form-control" id="50" placeholder="euro">
                    <label for="01">Ingresos J</label>
                </div>
                <div class=" form-floating form-control-sm col-md-5">
                    <input  (keypress)="validateFormat($event)" type=" number" class="form-control" id="01" placeholder="10">
                    <label for="01">Retiros J</label>
                </div>
                <div class=" form-floating form-control-sm col-md-2">
                    <input  (keypress)="validateFormat($event)" type=" number" class="form-control" id="01" placeholder="10" disabled readonly>
                    <label for="01">Total Jefe</label>
                </div>

                <div class=" form-floating form-control-sm w-100">
                    <textarea class="form-control" id="100" placeholder="euro" style="height: 100px"
                        rows="8"></textarea>
                    <label for="02">Comentario</label>
                </div> -->
            </div>
        </div>
        <button type="button" class="btn btn-success">Guardar</button>
    </form>
</div>