
{{iconoseleccionado | json}}

<div class="container mx-auto px-4">
  <!-- caja padre -->
  <div class=" flex flex-wrap lg:flex-nowrap justify-center  mx-auto  ">

    <!-- caja 1 -->
    <div>
      <h1 class="text-center ">Agregar Categoría</h1>
      <div class="p-2 m-2  shadow-xl rounded-2xl bg-yellow-100  min-w-fit">
        <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
          <div class="flex justify-between gap-4 items-center">
            <div>
             
              <span class="px-1 text-sm text-gray-900 font-semibold">Nombre de la categoría</span>
              <input type="text" formControlName="nombre"
                class="text-md block px-3 py-2 rounded-lg w-full bg-white border-2 border-gray-300 placeholder-gray-900 shadow-md focus:placeholder-gray-500 focus:bg-white focus:border-gray-900 focus:outline-none">

            
<app-listaricono (seleccionado)="oniconoseleccionado($event)"></app-listaricono>

            </div>

          
          </div>

          <div class="py-1">
            <input type="submit" *ngIf="formulario.valid "
              class="mt-3  text-lg font-semibold bg-green-800 w-full text-white rounded-lg px-6 py-3 block shadow-xl hover:text-white hover:bg-yellow-950"
              value="Agregar">


            <div *ngIf="!formulario.valid "
              class="mt-3  text-lg font-semibold bg-gray-400 w-full text-white rounded-lg px-6 py-3 block shadow-xl ">
              Agregar Categoría
            </div>
          </div>
        </form>
      </div>
    </div>


    <!-- caja 2 -->
    <app-listarcategorias></app-listarcategorias>
    <div *ngIf="envio" class="h-screen  w-screen fixed top-0 bg-white opacity-80">
      <div class="flex justify-center items-center h-full">
        <img class="h-16 w-16" src="https://icons8.com/preloaders/preloaders/1488/Iphone-spinner-2.gif" alt="">
      </div>
    </div>
  </div>

</div>


<div class="w-full relative">
  <div class="md:mt-2">
    

    <form class="mt-2" [formGroup]="formulario" (ngSubmit)="onSubmit()" class="row">
      <div class="mx-auto max-w-2xl ">
       


        <!-- <div class="py-1">
          <span class="px-1 text-sm text-gray-600 font-bold">icono </span>

          <ul class="grid w-full gap-2 md:grid-cols-5 lg:grid-cols-6 overflow-y-scroll h-48">
            <li *ngFor="let icono of iconos">
              <input formControlName="icono" type="radio" [id]="icono.nombre"  [value]="icono.id"
                class="hidden peer" required>
              <label [for]="icono.nombre"
                class="inline-flex items-center justify-between w-full p-5 text-gray-500 bg-white border border-gray-200 rounded-lg cursor-pointer dark:hover:text-gray-300 dark:border-gray-700 dark:peer-checked:text-blue-500 peer-checked:border-blue-600 peer-checked:text-blue-600 hover:text-gray-600 hover:bg-gray-100 dark:text-gray-400 dark:bg-gray-800 dark:hover:bg-gray-700">
                <div class="block">
                  <img class="w-12 h-12 text-black" [src]="icono.img" alt="">
                </div>
              </label>
            </li>
          </ul>
        </div> -->

      
      </div>
    </form>
  </div>
</div>


<div class="flex justify-center grow mt-4  gap-y-5 overflow-auto w-full bg-black/10 px-6 ring-1 ring-white/5">
  <nav
      class="z-20  flex shrink-0 grow-0 justify-around gap-4 border-t border-gray-200 bg-white/50 p-2.5 shadow-lg backdrop-blur-lg dark:border-slate-600/60 dark:bg-slate-800/50  left-6 min-h-[auto] min-w-[64px]  rounded-lg border">
      <span *ngFor="let icono of categorias; let i = index"
          class="cursor-pointer flex aspect-square min-h-[32px] w-16 flex-col items-center justify-center gap-1 rounded-md p-1.5 text-gray-700 hover:bg-gray-100 dark:text-gray-400 dark:hover:bg-slate-800">


          <img class="w-6 h-6" [src]="icono.icono" alt="">
          <small class="text-center text-xs font-medium"> {{icono.nombre}} </small>
          <div class="t-0  right-0">
              <p class="flex h-2 w-2 items-center justify-center rounded-full bg-red-500 p-3 text-xs text-white"
                  (click)="onClickDelete(icono)">-</p>
          </div>
      </span>
      <hr class="dark:border-gray-700/60" />
  </nav>
</div> 