<div class="container">
  <div class="">
    <div class=" fila ">
      <h1 class="bg-yellow-300 p-3 rounded-lg text-yellow-950 dark:text-yellow-50">Agregar Icono</h1>
    </div>


    <form class="fila p-3" [formGroup]="formulario" (ngSubmit)="onSubmit()">
        <div class="flex justify-between">
          <div>
            <div class="py-1">
              <span class="px-1 text-sm text-gray-600 font-bold">Nombre del Icono</span>
              <input type="text" formControlName="nombre"
                class="text-md block px-3 py-2 rounded-lg w-full bg-white border-2 border-gray-300 placeholder-gray-600 shadow-md focus:placeholder-gray-500 focus:bg-white focus:border-gray-600 focus:outline-none">

            </div>

            <div class="py-1">
              <span class="px-1 text-sm text-gray-600 font-bold">Imagen</span>
              <input (change)="onFileSelected($event)" required (change)="onFileSelected($event)" name="imagen"
                id="imagen" type="file"
                class=" text-md block px-3 py-2 rounded-lg w-full bg-white border-2 border-gray-300 placeholder-gray-600 shadow-md focus:placeholder-gray-500 focus:bg-white focus:border-gray-600 focus:outline-none">
            </div>
          </div>

          <div class="flex justify-center">

            <figure class=" m-4 p-4 h-32 w-32 bg-yellow-200  rounded-lg shadow-2xl">
              <img [src]="imageSrc?imageSrc:'../assets/imagen/predefinida.png'" alt=""
                class="h-full w-full flex-none object-cover">
            </figure>
          </div>
        </div>

        <div class="py-1">
          <input type="submit" *ngIf="formulario.valid "
            class="mt-3 text-lg font-semibold bg-gray-800 w-full text-white rounded-lg px-6 py-3 block shadow-xl hover:text-white hover:bg-black"
            value="Agregar">


          <button *ngIf="!formulario.valid "
            class="mt-3 text-lg font-semibold bg-red-800 w-full text-white rounded-lg px-6 py-3 block shadow-xl hover:text-white hover:bg-black"
            routerLink="">
            Salir de Agregar Icono
          </button>
        </div>
    </form>
  </div>




  <app-listaricono></app-listaricono>
  <div *ngIf="envio" class="h-screen  w-screen fixed top-0 bg-white opacity-80">
    <div class="flex justify-center items-center h-full">
      <img class="h-16 w-16" src="https://icons8.com/preloaders/preloaders/1488/Iphone-spinner-2.gif" alt="">
    </div>
  </div>

</div>