<div class="caja flex-auto ">
    <h1 class="text-center ">Lista de iconos</h1>

    <div class="flex flex-wrap justify-center">

        <span class="cursor-pointer backdrop-blur-lg flex flex-wrap items-center bg-yellow-50 shadow-inner  overflow-x-hidden justify-between
             gap-1 rounded-lg p-2 m-2 hover:bg-yellow-200 border" *ngFor="let icono of iconos; let i = index">

            <img class="w-8" [src]="icono.img" alt="">
            <p class="text-center text-xs text-clip font-medium"> {{icono.nombre}} </p>
            <p class="flex h-2 w-2 items-center justify-center rounded-full bg-red-500 p-3 text-xs text-white"
                (click)="onClickDelete(icono)">-</p>
        </span>
        <!-- </nav> -->
    </div>

</div>