<div class="container-fluid   bg-blue-900">
    <div class="row mb-5 ">
        <app-navbar></app-navbar>
    </div>

    <div class="row ">
        <div class="col-4 p-3">
            <!-- <app-listaregistrodiario></app-listaregistrodiario> -->
            <!-- <app-listarproductos></app-listarproductos> -->
            <app-sidebar></app-sidebar>
        </div>
        <div class="col-8 p-3">
            <!-- <app-registrar-cierre></app-registrar-cierre> -->
            <!-- <app-registrarproducto></app-registrarproducto> -->
            <!-- <app-registrarcategoria></app-registrarcategoria> -->
            <app-registrarsubcategoria></app-registrarsubcategoria>
        </div>
    </div>

</div>
