<h2>Caja</h2>
<table class="table">
  <thead>
    <tr>
      <th>Fecha</th>
      <th>Ingresos</th>
      <th>Papel</th>
      <th>Compras</th>
      <th>Total</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of registros">
      <td>{{item.fecha| date:'dd/MM/yyyy'}}</td>
      <!-- <td>{{item.fecha|  date:'dd/MM/yyyy(EEE) - hh:mmaaa'}}</td> -->
      <td>{{ item.totalmonedas}}</td>
      <td>{{item.papel}}</td>
      <td>{{item.compra}}</td>
      <td><button (click)="onClickDelete(item)">Borrar</button></td>
    </tr>
  </tbody>
</table>
<h2>Barberia</h2>
<table class="table">
  <thead>
    <tr>
      <th>Fecha</th>
      <th>Ingresos</th>
      <th>Prestamo</th>
      <th>Consumo</th>
      <th>Total</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of registros">
      <td>{{item.fecha| date:'dd/MM/yyyy'}}</td>
      <!-- <td>{{item.fecha|  date:'dd/MM/yyyy(EEE) - hh:mmaaa'}}</td> -->
      <td>{{ item.bari}}</td>
      <td>{{item.barpre}}</td>
      <td>{{item.bare}}</td>
      <td>{{ item.bari}}-{{item.barpre}}</td>
    </tr>
  </tbody>
</table>

<table class="table">
  <thead>
    <tr>
      <th>Fecha</th>
      <th>Debe</th>
      <th>Cobrado</th>      
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of registros">
      <td>{{item.fecha| date:'dd/MM/yyyy'}}</td>
      <td>{{ item.bare}}</td>
      <td>{{item.barco? item.barco:0}}</td>
    </tr>
  </tbody>
  <tfoot>
    <th></th>
    <th>{{debe}}</th>
    <th>{{cobro}}</th> 
  </tfoot>
</table>