<div class="container mx-auto px-4">
    <!-- caja padre -->
    <div class=" flex flex-wrap lg:flex-nowrap justify-center  mx-auto  ">

        <!-- caja 1 -->
        <div>
            <h1 class="text-center ">Agregar Sub Categoría</h1>
            <div class="p-2 m-2  shadow-xl rounded-2xl bg-yellow-100  min-w-fit">
                <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
                    <div class="flex justify-between gap-4 items-center">
                        <div>

                            <span class="px-1 text-sm text-gray-900 font-semibold">Nombre de la sub categoría</span>
                            <input type="text" formControlName="nombre"
                                class="text-md block px-3 py-2 rounded-lg w-full bg-white border-2 border-gray-300 placeholder-gray-900 shadow-md focus:placeholder-gray-500 focus:bg-white focus:border-gray-900 focus:outline-none">

                            <app-listaricono (seleccionado)="oniconoseleccionado($event)"></app-listaricono>
                            <app-listarcategorias
                                (seleccionado)="oniconoseleccionadocategoria($event)"></app-listarcategorias>

                        </div>
                    </div>

                    <div class="py-1">
                        <input type="submit" *ngIf="formulario.valid "
                            class="mt-3  text-lg font-semibold bg-green-800 w-full text-white rounded-lg px-6 py-3 block shadow-xl hover:text-white hover:bg-yellow-950"
                            value="Agregar">


                        <div *ngIf="!formulario.valid "
                            class="mt-3  text-lg font-semibold bg-gray-400 w-full text-white rounded-lg px-6 py-3 block shadow-xl ">
                            Agregar sub Categoría
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <!-- caja 2 -->
        <app-listarsubcategorias [editar]="true"></app-listarsubcategorias>
        <div *ngIf="envio" class="h-screen  w-screen fixed top-0 bg-white opacity-80">
            <div class="flex justify-center items-center h-full">
                <img class="h-16 w-16" src="../../../assets/imagen/Iphone-spinner-2.gif" alt="">
            </div>
        </div>
    </div>
</div>